@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
*{
    font-family: 'Roboto', sans-serif;
}
:root{
    --primary-soft:#f9f9f9;
}




.nav-menu{
    
}
.nav-menu ul{
    list-style-type: none;
    margin:0;
    padding:0;
}
.menu-title{
    padding:10px 0;
    text-transform: uppercase;
    font-weight:bold;
    color:#949494;
}
.menu-item{
    
   transition: 0.5s;

}

.menu-item-link{
    display:flex;
    justify-content: space-between;
    color:var(--dark);
    padding:15px 15px;
    border-radius:0.25rem;
}
.menu-item-link:hover{
    text-decoration: none;
    color:var(--dark);
}
.menu-item:hover{
    background-color: var(--primary-soft);
    border-radius:0.25rem;
}
.menu-item-link.active{
    background-color: var(--primary);
    color:white !important;
}
.menu-item-link i{

}
.menu-item-link span{

}
.menu-spacer{
    padding:10px 0;
}
.content{
    background-color: #f3f3f3;
    overflow:scroll;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075) inset;
}
.header{
    position:sticky;
    top:0.2rem;
    z-index:2000;
}
.nav-bar{
    position:sticky;
    top:0;
    background-color: var(--light);
}


.card{
    border:none;
}
.status-card:hover{
    transform:translateY(-3px);
    box-shadow:0 0 15px rgba(0,0,0,0.2);
}
.status-card:active{
    transform:scale(1.02);
    box-shadow:0 0 15px rgba(0,0,0,0.2);
}
.sidebar{
    overflow:scroll;
}



.show-sidebar-btn{
    cursor:pointer;
}
@media screen and (max-width:780px){
    .sidebar{
        position:fixed;
        width:300px;
        z-index:2001;
        display: block !important;
        background-color: white;
        margin-left:-100%;

    }
}
.user-img{
    width:30px;
    height:30px;
    border-radius:50%;
}
.item-card{
    margin-top:-80px;
}
.img-p{
    width:40px;
    height:40px;
    border-radius:50%;
    margin-left:-20px;
}
.img-co{
    width:200px;
    height:200px;
}
.img-co1{
    width:200px;
    height:200px;
    border-radius:50%;
}
.feather-plus{
    border-radius: 50%;
    
}
#total:hover{
    cursor: pointer;
}
@media  screen and (max-width:780px) {
    .mm{
        margin-top:100px;
    }
}

@media  screen and (max-width:780px) {
    .tt{
        margin-top:30px;
    }
}
.full-screen{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height: 100vh;
    overflow:scroll;
    z-index:2005;
}